// =========================================================
// * Soft UI Dashboard 3 - v1.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
// * Copyright 2024 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "soft-ui-dashboard/bootstrap/functions";

// Custom Variables
@import "soft-ui-dashboard/custom/variables";

@import "soft-ui-dashboard/variables";
@import "soft-ui-dashboard/bootstrap";
@import "soft-ui-dashboard/theme";
@import "soft-ui-dashboard/custom-modifications";

// Custom Variables
@import "soft-ui-dashboard/custom/styles";

// Remixicon
@import "remixicon/fonts/remixicon.css";
